@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");

svg:hover {
  fill: #53c6aa;
}
svg {
  width: 80px;
}
