@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");

.btn {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  font-size: 36px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #53c6aa;
  color: #53c6aa;
}
.btn::before {
  transition: all 0.4s cubic-bezier(0.68, -0.16, 0.2, 1.1);
  content: "";
  width: 0%;
  height: 100%;
  background: #53c6aa;
  position: absolute;
  top: 0;
  left: 0;
}
.btn .btnText {
  color: white;
  mix-blend-mode: hard-light;
}
.btn:hover::before {
  background: #53c6aa;
  width: 100%;
  /* color: black; */
}
.btn .btnText:hover {
  color: black;
}

.cards {
  margin: 0px 10px;
  padding: 0px 5px;
}
.cards:hover {
  box-shadow: 0px 0px 8px #53c6aa;
  cursor: pointer;
}
/* rgb(167, 164, 164) */

.contacticon {
  margin: 0px 5px;
}
.contacticon:hover {
  fill: #53c6aa;
  cursor: pointer;
}

.media {
  height: 40vh;
}
.imageList {
  width: 500px;
  height: 450px;
}
.imageListItems {
  background-size: cover;
}
.imageListItems:hover {
  background-color: rgb(150, 11, 11);
  opacity: 0.2;
  z-index: 2;
}
.fields {
  margin: 10px 20px;
  background-color: #f5f1f1;
  padding: 10px;
  border-radius: 5px;
}
.name_and_email {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}
.name {
  flex-basis: 50%;
  margin: 20px;
  background-color: #f5f1f1;
  padding: 10px;
  border-radius: 5px;
}
.email {
  flex-basis: 50%;
  margin: 20px;
  background-color: #f5f1f1;
  padding: 10px;
  border-radius: 5px;
}
.email::placeholder {
  color: #353535;
  font-size: 15px;
  font-weight: 600;
}
.name::placeholder {
  color: #353535;
  font-size: 14px;
  font-weight: 600;
}
.fields::placeholder {
  color: #353535;
  font-size: 14px;
  font-weight: 600;
}
.paragraph {
  color: #fff;
  padding-left: 63px;
  padding-right: 63px;
  padding-top: 10px;
  padding-bottom: 35px;
  font-size: 15px;
}
.picContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  margin-top: 11%;
}
.profileImg {
  background-image: url("../Images/my_profile.jpg");
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center center;
  border-radius: 900px;
}
.about {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #15161b;
  padding-left: 15%;
}
.outerContainer {
  margin-left: 6%;
}
.outerLayout {
  background-color: #15161b;
  height: auto;
  display: flex;
  flex-direction: "row";
}
.contacSection {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0px;
}
.mapSection {
  display: flex;
  flex-basis: 50%;
  width: 100%;
}
.form {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0px 11% 6% 11%;
}
.contactIcons {
  margin: 0% 1% 2% 1%;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .profileImg {
    height: 220px;
    width: 220px;
  }
  .meetmeContainer {
    margin-bottom: 50px;
  }
  .outerContainer {
    margin-left: 0%;
  }
  .about {
    padding-left: 0px;
    text-align: center;
  }
  .name_and_email {
    flex-direction: column;
    /* margin-bottom: 0px; */
  }
  .form {
    margin-bottom: 10%;
  }
  .mapSection {
    display: none;
  }
}
