@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");

.btn {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  font-size: 36px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #53c6aa;
  color: #53c6aa;
}
.btn::before {
  transition: all 0.4s cubic-bezier(0.68, -0.16, 0.2, 1.1);
  content: "";
  width: 0%;
  height: 100%;
  background: #53c6aa;
  position: absolute;
  top: 0;
  left: 0;
}
.btn .btnText {
  color: white;
  mix-blend-mode: hard-light;
}
.btn:hover::before {
  background: #53c6aa;
  width: 100%;
  /* color: black; */
}
.btn .btnText:hover {
  color: black;
}

.cards {
  margin: 0px 10px;
  padding: 0px 5px;
}
.cards:hover {
  box-shadow: 0px 0px 8px #53c6aa;
  cursor: pointer;
}
/* rgb(167, 164, 164) */

.contacticon {
  margin: 0px 5px;
}
.contacticon:hover {
  fill: #53c6aa;
  cursor: pointer;
}

.media {
  height: 40vh;  
}
